server:
  port: 8083

jwt:
  secret: 984hg493gh0439rthr0429uruj2309yh937gc763fe87t3f89723gf
  lifetime: 30m

spring:
  application:
    name: song
  jpa:
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: false
    properties:
      hibernate:
        show_sql=true:
    hibernate:
      ddl-auto: none

  datasource:
    username: user-db
    password: kt^#54hfff@%*t53gfhj
    url: jdbc:postgresql://localhost:5432/itmusik
    driver-class-name: org.postgresql.Driver

  main:
    allow-circular-references: true

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://eureka-server:8761/eureka}