version: '3.9'

services:

  eureka-server:
    container_name: eureka-server
    build: eureka-server
    image: eureka-server:latest
    ports:
      - "8761:8761"

  config-server:
    container_name: config-server
    build: config-server
    image: config-server:latest
    depends_on:
      - eureka-server
    ports:
      - "8888:8888"

  gateway:
    container_name: gateway
    build: gateway
    image: gateway:latest
    depends_on:
      - eureka-server
    ports:
      - "8765:8765"

  auth:
    container_name: auth
    build: auth
    image: auth:latest
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/itmusik
      - SPRING_DATASOURCE_USERNAME=user-db
      - SPRING_DATASOURCE_PASSWORD=kt^#54hfff@%*t53gfhj
      - SPRING_JPA_HIBERNATE_DDL_AUTO=none

  music:
    container_name: music
    build: music
    image: music:latest
    depends_on:
      - postgres
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/itmusik
      - SPRING_DATASOURCE_USERNAME=user-db
      - SPRING_DATASOURCE_PASSWORD=kt^#54hfff@%*t53gfhj
      - SPRING_JPA_HIBERNATE_DDL_AUTO=none

  user:
    container_name: user
    build: user
    image: user:latest
    depends_on:
      - postgres
    ports:
      - "8082:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/itmusik
      - SPRING_DATASOURCE_USERNAME=user-db
      - SPRING_DATASOURCE_PASSWORD=kt^#54hfff@%*t53gfhj
      - SPRING_JPA_HIBERNATE_DDL_AUTO=none

  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_DB: "itmusik"
      POSTGRES_USER: "user-db"
      POSTGRES_PASSWORD: "kt^#54hfff@%*t53gfhj"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres-data:
